<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:100&display=swap" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body ng-app="myapp" ng-controller='myctrl'>

  <div ng-bind-html="selectedContent" class="content-holder editor" contenteditable="true">
  </div>
  <div class="timline-holder">
    <div class="time-holder">
      <div ng-click="loadContent(item.year,$event)" class='year' ng-repeat="item in timeline">{{item.year}}</div>
    </div>
  </div>

  <textarea id="myclipboard" style="display: none;"></textarea>

  <script src="../myeditor.js"></script>
  <script type="text/javascript" src="script.js"></script>
</body>

</html>